@page "/add/Article"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using blazor_gestconf.Models
@using blazor_gestconf.Services
@inject UserManager<Utilisateur> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@rendermode InteractiveServer
@inject ArticleService articleCrud
@inject AuteurService AuteurService
@inject ArticleAuteurService ArtAutService
<h3>InsertArticle</h3>

<EditForm Model="Art" method="Post" OnValidSubmit="Inserer">
    <DataAnnotationsValidator/>
    <div class="mb-3">
        <label for="title" class="form-label">Titre :</label>
        <InputText @bind-Value="Art.Titre" class="form-control" id="title"></InputText>
        <ValidationMessage For="@(()=>Art.Titre)" />
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description :</label>
        <InputText @bind-Value="Art.Description" class="form-control" id="description"></InputText>
        <ValidationMessage For="@(()=>Art.Description)" />
    </div>
    <div class="mb-3">
        <label for="file" class="form-label">Fichier(pdf) :</label>
        <InputFile OnChange="HandleFileSelected" @bind-Value="Art.FichierPdf" class="form-control" id="file"></InputFile>
        <ValidationMessage For="@(()=>Art.FichierPdf)" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn-dark">Enrégistrer</button>
    </div>
</EditForm>
<h4>Liste des Auteurs</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var auteur in Auteurs)
        {
            <tr>
                <td>@auteur.Id</td>
                <td>@auteur.Email</td>
                <td>
                    @if (auteur.Id != userId)
                    {
                        <button class="btn btn-primary" @onclick="() => AjouterAuteur(auteur.Id)">Ajouter</button>
                    }
                    else
                    {
                        <p>Moi-même</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (showConfirmation)
{
    <ModalSave Title="Confirmation" OnClose="CloseConfirmation">
        <p>L'Article a été bien enrégistrée.</p>
    </ModalSave>
}

@code {
    [SupplyParameterFromForm]
    public Article Art { get; set; } = new Article();
    [SupplyParameterFromQuery]
    public int id { get; set; }
    public bool showConfirmation { get; set; } = false;

    public ArticleAuteur articleauteur = new ArticleAuteur();
    private List<Auteur> Auteurs { get; set; } = new List<Auteur>();

    int userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var userid = UserManager.GetUserId(user);
        userId=int.Parse(userid);
        articleauteur.AuteurId=userId;
        Auteurs = await LoadAuteurs();


    }
    private async Task<List<Auteur>> LoadAuteurs()
    {
        return await AuteurService.GetAllAsync();
    }


    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            using var ms = new MemoryStream();
            await file.OpenReadStream().CopyToAsync(ms);
            Art.FichierPdf = ms.ToArray();
        }
    }

    public async Task Inserer()
    {
        Art.ConferenceId = id;
        bool ex = await articleCrud.AddAsync(Art);

        if (ex)
        {
            Art = new Article();

            int Artid = await articleCrud.GetLastInsertedId();
            articleauteur.ArticleId=Artid;
            bool ex2 = await ArtAutService.AddAsync(articleauteur);
            if (ex2){
                showConfirmation = true;
                articleauteur = new ArticleAuteur();
            }

        }
    }
    private async Task AjouterAuteur(int auteurId)
    {
        // Créer une nouvelle instance d'ArticleAuteur
        int Artid = await articleCrud.GetLastInsertedId();
        var articleAuteur = new ArticleAuteur
        {
            ArticleId = Artid,// Assurez-vous d'avoir l'ID correct de l'article ici
            AuteurId = auteurId
        };

        // Ajouter l'ArticleAuteur via votre service
        bool result = await ArtAutService.AddAsync(articleAuteur);

        if (result)
        {
            showConfirmation = true;
        }
    }
    private void CloseConfirmation()
    {
        showConfirmation = false;
    }
}
